$list-padding: 8rem;

.select-list {
  padding: $list-padding;

  a, button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    padding: 4rem 1rem;
    cursor: pointer;
    color: var(--color-grey-700);
    text-decoration: none;
    box-shadow: none;
    transition: box-shadow $base-form-transition-duration ease;
    border-radius: $base-border-radius;

    &:hover {
      background-color: var(--color-grey-50);
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &:focus {
      box-shadow: var(--input-focus-box-shadow);
    }

    .inner-content {
      justify-content: flex-start;
    }
  }

}

.select-list__divider {
  border-bottom: solid 1rem var(--color-grey-100);
  padding-top: $list-padding;
  margin-bottom: $list-padding;
  margin-left: -$list-padding;
  margin-right: -$list-padding;
}
