$checkbox-size: $base-font-size;

.comfy-checkbox {
  display: inline-flex;
  align-items: center;
  padding-right: 1.6rem;
  user-select: none;
  vertical-align: middle;

  .comfy-checkbox__box {
    display: inline-block;
    height: $checkbox-size;
    width: $checkbox-size;
    position: relative;
    margin-right: .6rem;
    border-radius: $base-border-radius;
    box-shadow: none;
    transition: box-shadow $base-transition-duration ease, border $base-transition-duration ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $base-border-radius;
      border: solid .2rem $color-grey-300;
      transition: border $base-transition-duration ease;
    }
  }

  &.comfy-checkbox--focus .comfy-checkbox__box::before {
    border-color: $color-grey-500;
  }

  &.comfy-checkbox--checked .comfy-checkbox__box {
    &::before {
      border-width: .5rem;
      border-color: $color-primary;
    }
  }

  &.comfy-checkbox--focus {
    .comfy-checkbox__box {
      @include focus-box-shadow();
    }
  }

  &.comfy-checkbox--block {
    display: flex;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}