$checkbox-size: $base-font-size;

.comfy-checkbox {
  display: inline-flex;
  align-items: center;
  padding-right: 1.6rem;
  user-select: none;
  vertical-align: middle;

  .comfy-checkbox__box {
    display: inline-block;
    height: $checkbox-size;
    width: $checkbox-size;
    position: relative;
    margin-right: .6rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $base-border-radius;
      border: solid .2rem $color-grey-300;
      transition: background-color $base-transition-duration ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $base-border-radius;
      background-color: $color-primary;
      transform-origin: $checkbox-size/2 $checkbox-size/2;
      transform: scale(.8);
      z-index: 0;
      opacity: 0;
      transition: opacity $base-transition-duration ease, transform $base-transition-duration ease;
    }

    svg {
      z-index: 1;
      position: absolute;
      opacity: 0;
      fill: #fff;
      transform-origin: .7rem .7rem;
      transform: scale(.2);
      transition: opacity $base-transition-duration ease, transform $base-transition-duration ease;
    }
  }

  &.comfy-checkbox--checked .comfy-checkbox__box {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    svg {
      transform: scale(.9);
      opacity: 1;
    }
  }



  &.comfy-checkbox--block {
    display: flex;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}