.cf-input {
  display: inline-block;
  border-radius: $base-border-radius;
  width: 20rem;

  &.cf-input--focus {
  }
}

.cf-input__input {
  height: 3rem;
  line-height: 3rem;
  border-radius: $base-border-radius;
  font-size: $base-font-size;
  color: $color-grey-900;
  border: solid .1rem $color-grey-100;
  padding: 0 .8rem;
  font-family: $base-font-family;
  width: 100%;
  display: block;
  box-shadow: none;
  transition: box-shadow $base-transition-duration ease, border $base-transition-duration ease;

  &:focus, &:active {
    box-shadow: none;
    outline: none;
    border-color: $color-grey-300;
  }

  &:focus {
    @include focus-box-shadow();
  }
}