.modal-backdrop {
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100001;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100002;

  &.modal--scroll {
    align-items: normal;
    display: block;
    padding: 0 2rem;

    .modal__inner {
      margin: 2rem auto;
    }
  }
}

.modal__inner {
  background-color: #fff;
  border-radius: $base-border-radius;
  box-shadow: var(--box-shadow-4);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.modal--sm {
    width: 30rem;
  }

  &.modal--md {
    width: 42rem;
  }

  &.modal--lg {
    width: 58rem;
  }

  &.modal--xl {
    width: 100rem;
  }
}

.modal.modal--overlay > .modal__inner {
  width: auto;
  position: absolute;
  top: 32rem;
  left: 32rem;
  right: 32rem;
  bottom: 32rem;
}

.modal__header {
  font-size: 18rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16rem 16rem 1rem 16rem;
}

.modal__head-close {
  position: absolute;
  right: 1rem;
  top: 1rem;

  svg {

  }
}

.modal__body {
  padding: 0 16rem 16rem 16rem;
  flex-grow: 1;
}

.modal__actions {
  border-top: solid 1px var(--color-grey-100);
  padding: 16rem;
  text-align: right;

  button {
    margin-left: 1rem;
  }
}