.cf-radio {
  display: inline-flex;
  align-items: center;
  padding-right: 1.4rem;
  user-select: none;
  vertical-align: middle;

  &::before {
    display: inline-block;
    content: '';
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1.4rem;
    border: solid .2rem $color-grey-300;
    margin-right: .6rem;
    box-shadow: none;
    transition: border $base-transition-duration ease, box-shadow $base-transition-duration ease;
  }

  &.cf-radio--focus::before {
    @include focus-box-shadow;
  }

  &.cf-radio--checked::before {
    border: solid .5rem $color-primary;
  }

  &.cf-radio--block {
    display: flex;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}