@import "../../src/styles/variables";
@import "../../src/styles/index";


body {
  --color-primary: #{$color-primary};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-info: #{$color-info};
  --color-dark: #{$color-dark};
  --font-family: 'Chewy';
}

code {
  background-color: $color-danger;
  border-radius: $base-border-radius;
  padding: .2rem .4rem;
  color: #fff;
  font-weight: 400;
}

.comfy-title {
  font-family: 'Chewy', sans-serif;
  color: $color-danger;
  font-size: 4rem;
  letter-spacing: .15rem;
}
