.form-group {
  margin-bottom: 16rem;
}

label {
  font-size: 12rem;
  color: var(--color-input-label);
  margin-bottom: 4rem;
}

.form-input {
  padding: 0 8rem;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 500;
  height: $base-form-height;
  border: solid 1rem var(--color-input-border);
  background-color: var(--color-input-background);
  line-height: $base-form-height;
  border-radius: $base-border-radius;
  color: var(--color-grey-900);
  width: 100%;
  display: block;
  box-shadow: none;
  transition: $input-transition;

  &:focus, &:active {
    border-color: var(--color-input-border-focus);
    background-color: var(--color-background);
    box-shadow: var(--input-focus-box-shadow);
    outline: none;
  }
}

select.form-input {
  cursor: pointer;
}