@import "../src/styles/variables";
@import "../src/styles/index";


body {
  --color-primary: #{$color-primary};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-info: #{$color-info};
  --color-dark: #{$color-dark};
  --font-family: 'Chewy';
}

code {
  background-color: $color-grey-500;
  border-radius: .3rem;
  padding: .2rem .4rem;
  color: #fff;
}