@import "../src/styles/variables";

@import "../src/styles/index";


body {
  --color-theme: #E5876A;
  --color-primary: #45ADDB;
  --font-family: 'Chewy';
}

code {
  background-color: $color-grey-500;
  border-radius: .3rem;
  padding: .2rem .4rem;
  color: #fff;
}